@font-face {
    font-family: chillax;
    src: url(./assets/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

@font-face {
    font-family: satoshi;
    src: url(./assets/63cffc20aa8997095067596f_Satoshi-Light.woff);
}

@font-face {
    font-family: roboto;
    src: url(./assets/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    color: white;
    background-color: #121212;
    font-size: clamp(14px, 1vw, 18px);
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;

    nav {
        position:fixed;
        top:0;
        left:0;
        z-index:1000;
        width: 100%;
        padding: 1rem 1rem 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .fullnav {
            display: none;
        }

        .left {
            h2 {
                text-decoration: none;
                padding-left: 0.5rem;
                font-size: 1.2rem;
                font-weight: 300;
                font-family: satoshi;
            }
        }

        .right {
            .halfnav {
                display: flex;
                gap: 1rem;

                button:nth-child(1) {
                    padding: 0.8rem 1.5rem;
                    border-radius: 0.6rem;
                    border: none;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    background-color: #1E1E1E;
                    color: white;
                    font-family: roboto;
                    font-size: 0.9rem;

                    span {
                        padding: 0.1rem 0.4rem;
                        border-radius: 50%;
                        background-color: #cebd63;
                        color: black;
                        font-family: roboto;
                    }
                }

                button:nth-child(2) {
                    font-size: 2rem;
                    padding: 0.8rem 1rem;
                    border-radius: 0.6rem;
                    opacity: 2rem;
                    background-color: #1E1E1E;
                    color: rgb(161, 161, 161);
                    border: none;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }

    }

    section.view1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }

        .bottom {
            background-color: #1e1e1e;
            padding: 1rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            p {
                font-family: satoshi;
                font-size: 1rem;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h1 {
                    font-family: chillax;
                    font-size: 2.5rem;
                    font-weight: 200;
                }

                .button {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    i {
                        font-size: 1.5rem;
                        background-color: #292929;
                        border-radius: 1px solid rgb(84, 84, 84);
                        padding: 0.5rem;
                        border-radius: 50px;
                    }
                }
            }

            .text>p {
                font-family: satoshi;
                font-size: 1.6rem;
                font-weight: 100;
                opacity: 0.6;
                line-height: 1.5;
            }
        }
    }

    section.view2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1.5rem;

        .top,
        .bottom {
            width: 100%;
            display: flex;
            justify-content: space-around;

            .element {
                text-align: center;
                font-family: satoshi;

                small {
                    font-size: 1rem;
                    opacity: 0.6;
                }

                h2 {
                    font-size: 3rem;
                    font-weight: 400;
                }
            }
        }
    }

    section.view3,
    section.view4 {
        width: 100%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom {
            background-color: #1e1e1e;
            padding: 2rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            p {
                font-family: roboto;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;

                h1 {
                    font-family: chillax;
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    line-height: 1.3;
                }

                .para {
                    p {
                        font-family: satoshi;
                        line-height: 1.7;
                        font-size: 1.2rem;
                        font-weight: 100;
                        opacity: 0.6;
                    }
                }
            }
        }

        .bottom>p {
            text-transform: uppercase;
        }

    }

    section.view5_heading {
        width: 100%;
        padding: 1rem 2rem;
        text-align: start;
        font-size: 1.1rem;
        font-family: chillax;
        font-weight: 100;
    }

    section.view5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        .card {
            width: 100%;
            border-radius: 0.7rem;
            background-image: url(./assets/card1img.webp);
            aspect-ratio: 1/1;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2.5rem 1rem 1rem 1rem;

            .top {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;

                .icon {
                    i {
                        background-color: rgba(82, 82, 82, 0.234);
                        backdrop-filter: blur(15px);
                        padding: 1rem;
                        width: fit-content;
                        border-radius: 50px;
                        font-size: 1.5rem;

                    }
                }
            }

            .bottom {
                background-color: rgba(63, 63, 63, 0.234);
                backdrop-filter: blur(10px);
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 0.3rem;

                p {
                    text-transform: uppercase;
                }

                p:nth-child(1) {
                    font-family: chillax;
                    font-size: 1.4rem;
                }

                p:nth-child(2) {
                    font-family: roboto;
                    font-weight: 300;
                    font-size: 1rem;
                }
            }

        }

        .card:nth-child(1) {
            background-image: url(./assets/card1img.webp);
        }

        .card:nth-child(2) {
            background-image: url(./assets/card2img.webp);
        }

        .card:nth-child(3) {
            background-image: url(./assets/card3img.webp);
        }
    }

    section.view6 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            width: 100%;
            background-color: #1e1e1e;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            padding: 2rem;
            border-radius: 1rem;

            .text {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                p {
                    font-family: roboto;
                    opacity: 0.7;
                }

                h1 {
                    font-family: chillax;
                    text-transform: uppercase;
                    font-size: 2.5rem;
                    font-weight: 200;
                    line-height: 1.2;
                }
            }

            .button {
                display: flex;
                align-items: center;
                gap: 1rem;

                i {
                    font-size: 1.7rem;
                    opacity: 0.7;
                    background-color: #292929;
                    padding: 0.5rem;
                    border: 1px solid rgb(84, 84, 84);
                    border-radius: 50px;
                }

                p {
                    font-family: roboto;
                }
            }
        }
    }

    section.view7 {
        width: 100%;
        padding: 1rem;

        .top {
            width: 100%;
            background-color: #cebd63;
            border-radius: 0.7rem;
            color: black;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;

            p {
                text-transform: uppercase;
                font-family: roboto;
            }

            .text {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h1 {
                    text-transform: uppercase;
                    font-family: chillax;
                    font-size: 2.8rem;
                    font-weight: 100;
                    line-height: 1.1;
                }

                button {
                    text-transform: uppercase;
                    background-color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-family: roboto;
                    font-size: 1rem;
                    border: none;
                    border-radius: 0.7rem;
                    padding: 1.1rem 0;
                    gap: 0.7rem;

                    i {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    section.view8 {
        width: 100%;
        display: grid;
        padding: 1rem;
        grid-gap: 1rem;

        .top {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            width: 100%;
            background-color: #1e1e1e;
            border-radius: 0.7rem;
            padding: 1.5rem;

            h2 {
                font-size: 1.5rem;
                letter-spacing: 1px;
                font-family: satoshi;
            }

            .links {
                display: flex;
                gap: 1rem;

                i {
                    font-size: 1.4rem;
                    background-color: #292929;
                    padding: 0.8rem;
                    border: 1px solid rgb(84, 84, 84);
                    border-radius: 50px;
                }
            }

        }

        .mid {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5rem;
            background-color: #1e1e1e;
            border-radius: 0.7rem;
            padding: 1.5rem;

            .pages {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                h2 {
                    font-family: chillax;
                }

                h4 {
                    font-family: roboto;

                    a {
                        text-decoration: none;
                        color: rgb(161, 161, 161);
                        font-weight: 300;
                    }
                }

                button {
                    font-family: roboto;
                    width: fit-content;
                    padding: 1rem 1.5rem;
                    border-radius: 0.7rem;
                    font-size: 1rem;
                    background-color: #cebd63;
                    border: none;
                }

            }

            .cms {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                h2 {
                    font-family: chillax;
                }

                h4 {
                    font-family: roboto;

                    a {
                        text-decoration: none;
                        font-weight: 300;
                        color: rgb(161, 161, 161);
                    }
                }
            }

            .utility {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                h2 {
                    color: rgb(238, 235, 235);
                    font-family: chillax;
                }

                h4 {
                    font-family: roboto;

                    a {
                        text-decoration: none;
                        color: rgb(161, 161, 161);
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .bottom {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center; // <--- Add this line
            gap: 2rem;
            background-color: #1e1e1e;
            border-radius: 0.7rem;
            padding: 1.5rem;

            .madeby {
                p {
                    font-family: roboto;
                    text-align: center;
                    line-height: 2;
                    text-transform: uppercase;
                    color: rgb(161, 161, 161);

                    a {
                        color: rgb(200, 200, 200);
                    }
                }
            }

            .to-top {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                h4 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    font-family: roboto;
                    font-weight: 300;

                    i {
                        font-size: 1.7rem;
                        opacity: 0.7;
                        background-color: #292929;
                        padding: 0.5rem;
                        border: 1px solid rgb(84, 84, 84);
                        border-radius: 50px;
                    }
                }
            }

        }

    }
}


@media(min-width:900px) {
    main {
        nav {
            flex-direction: row;
            padding: 1rem 1.5rem 0 1rem;
            ;

            .left {
                h2 {
                    padding-left: 1.5rem;
                }
            }

            .right {
                .halfnav {
                    display: none;
                }

                .fullnav {
                    display: block;
                    display: flex;
                    gap: 0.5rem;

                    button {
                        filter: brightness(1);
                        transition: filter 0.3s ease;
                        padding: 0.8rem 1.5rem;
                        border-radius: 0.6rem;
                        border: none;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        background-color: #1E1E1E;
                        color: white;
                        font-family: roboto;
                        font-size: 0.9rem;
                    }

                    button:nth-last-child(2) {
                        span {
                            padding: 0.1rem 0.4rem;
                            border-radius: 50%;
                            background-color: #cebd63;
                            color: black;
                            font-family: roboto;
                        }
                    }

                    button:nth-last-child(1) {
                        background-color: #cebd63;
                        color: black;
                    }
                }

                button:hover {

                    filter: brightness(1.5);
                }
            }
        }

        section.view1 {
            padding: 1.5rem;
            flex-direction: row;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .text {
                    gap: 1rem;

                    h1 {
                        font-size: 4rem;
                    }

                    p {
                        width: 90%;
                    }

                    ;
                }
            }
        }

        section.view2 {
            padding: 1.5rem;
            flex-direction: row;

            .top,
            .bottom {
                .element {
                    small {
                        font-size: 1.2rem;
                    }

                    h2 {
                        font-size: 4rem;
                    }
                }
            }
        }

        section.view3,
        section.view4 {
            flex-direction: row-reverse;

            .top,
            .bottom {
                width: 50%;
            }

            .top {
                img {
                    object-fit: cover;
                    object-position: center;
                }
            }

            .bottom {
                justify-content: space-between;
                padding: 4rem;

                .text {
                    h1 {
                        font-size: 3.5rem;
                    }

                    .para {
                        display: flex;
                        gap: 1rem;
                        justify-content: space-between;

                        p {
                            width: 49%;
                        }
                    }
                }
            }
        }

        section.view4,
        section.view5 {
            flex-direction: row;
        }

        section.view6 {
            flex-direction: row;

            .bottom {
                justify-content: space-between;
                padding: 4rem;

                .text {
                    h1 {
                        font-size: 3.5rem;
                    }
                }
            }
        }

        section.view7 {
            .top {
                padding: 4rem;

                .text {
                    flex-direction: row;
                    align-items: end;
                    justify-content: space-between;

                    h1 {
                        font-size: 6rem;
                        width: 80%;
                    }

                    button {
                        width: 15%;
                    }
                }
            }
        }

        section.view8 {
            grid-template-columns: 1fr 4fr;
            grid-template-rows: 3fr 1fr;
            grid-template-areas:
                "top mid"
                "top bottom";

            .top {
                grid-area: top;
                justify-content: space-between;
                padding: 3rem;

                .links {
                    i {
                        font-size: 1.1rem;
                        cursor: pointer;
                    }
                }
            }

            .mid {
                grid-area: mid;
                flex-direction: row;
                padding: 3rem;

                .pages {
                    gap: 2rem;

                    button {
                        cursor: pointer;
                    }
                }

                .cms {
                    gap: 2rem;
                }

                .utility {
                    gap: 2rem;
                }
            }

            .bottom {
                grid-area: bottom;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .to-top {
                    h4 {
                        i {
                            cursor: pointer;
                        }
                    }
                }
            }
        }



    }
}
